<div class="m-5">
<h1><%= @list.name %></h1>

<br>
<br>
<%= link_to 'Back', lists_path, class: "btn btn-success"%>
<br>
<br>
<%= link_to 'New movie', new_list_bookmark_path(@list), class: "btn btn-success"%>
<br>
<br>

<% @list.bookmarks.each do |b| %>
<div>
<p><%= b.movie.title %></p>
<p><%= b.movie.overview %></p>
<p><%= b.movie.poster_url %></p>
<p>starts: <%= b.movie.rating %></p>
<%= link_to 'Delete', bookmark_path(b), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
<% end %>

</div>
